/JavaAssignmet2_HealthcareSystem/nbproject/private/
/JavaAssignmet2_HealthcareSystem/build/
/JavaAssignmet2_HealthcareSystem/dist/
/HotelReservationsystem/nbproject/private/
/taskkkk/nbproject/private/
/HMS/nbproject/private/
